<div class="ui middle aligned selection divided list"> 
  
  <a *ngFor="let impfung of impfungen" class="item"> 
    
    <div class="content">
      <div class="header">
        {{ impfung.datum }}
      </div>
    </div> 
<!--
  <div class="metadata">
    <span *ngFor="let user of impfung.users; last as l">
      Angemeldete Person(en): {{ user?.vorname }} {{ user?.nachname }}
      <span *ngIf="!l">,
        </span> 
        </span>
  </div>
  -->

    <div class="extra">Maximale Anzahl: {{ impfung.max_personen }}
    </div> 
        
    </a> 
</div>