<div class="ui middle aligned selection divided list">
  <h1>Impfungen 2021</h1>
  <a *ngFor="let impfung of impfungen" class="item">

    <div class="content">
      <div class="header">
        {{ impfung.datum }}
        <br>
        Von {{impfung.uhrzeit_start}} bis
        {{impfung.uhrzeit_end}
      </div>
    </div>

    <div class="metadata">
      Angemeldete Person(en):
      <span *ngFor="let user of impfung.users; last as l">
       {{ user?.vorname }} {{ user?.nachname }}
      <br>
      <span *ngIf="!l">, </span>
      </span>
    </div>


    <div class="extra">Maximale Anzahl: {{ impfung.max_personen }}
    </div>

  </a>
</div>