<div class="ui grid">
  <div class="content">

    <div class="six wide column">
      <div class="header">
        <span class="ui medium header">{{impfung.impfort.ort}}</span>
        <br>
        <b>Datum: </b> {{impfung.datum}} <br>
        Von {{impfung.uhrzeit_start}} bis
        {{impfung.uhrzeit_end}}
      </div>


      <div class="metadata">
        Angemeldet:
        {{impfung.users.length}} Person(en)
        <br>
      </div>

      <div class="extra">
        Maximale Anzahl: {{ impfung.max_personen }}
      </div>
    </div>

    <div class="four wide column">
      <!--(click)="signToImpfung()"-->
          <button  class="ui teal button"> 
          Anmelden
          </button>
    </div>
  </div>
</div>