<!--
  <im-impf-list *ngIf="listOn" (showDetailsEvent)="showDetails($event)"></im-impf-list>

<im-impf-details *ngIf="detailsOn" [impfung]="impfung" (showListEvent)="showList()"></im-impf-details>
-->
<div class="ui secondary pointing menu">
<a routerLink="home" routerLinkActive="active" class="item">Home</a> 
<a routerLink="impfungen" routerLinkActive="active" class="item">Impfübersicht</a>

  
  <div>

    <a *ngIf="authService.isAdminLoggedIn()" class="right menu" routerLink="admin" routerLinkActive="active" class="ui item">Administration</a>
    </div>

</div>

<router-outlet></router-outlet>