<h1>Personenstatus</h1>


<div class="ui segment" *ngIf="authService.getUserId()">
  <div class="eight wide column">
    <h1 class="ui header">{{ user.vorname }} {{ user.nachname }}</h1>
    <div class="ui divider"></div>

    <div class="ui grid">
      <div class="four wide column">
        <h4 class="ui header">Dein Impfstatus: </h4>
      

      </div>
      <div class="six wide column">
        <div *ngIf="user.status === 'no'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><span class="ui orange small header">Nicht geimpft! </span></ng-template>
        <ng-template #elseBlock><span class="ui olive small header">Bereits geimpft!</span> </ng-template>
      </div>
      <div class="six wide column">
        <div *ngIf="user.impfung_id; then thenBlockAngemeldet else elseBlockOffen"></div>
        <ng-template #thenBlockAngemeldet> <span class="ui olive small header">Angemeldet</span>
        </ng-template>
        <ng-template #elseBlockOffen>
          <a class="ui teal button" routerLink='../../impfungen'>
          Anmelden</a> 
        </ng-template>
      </div>

      </div>
    </div>
    
    <h4 class="ui header">Deine Daten:</h4>
        SVNR: {{user.svnr}} <br>
        Email: {{ user.email}} <br>
        Telefon: {{user.telefon}} <br><br>
      
    <div class="ui divider"></div>
    <span *ngIf= "user.impfung">
    <div class="sixteen wide column">
      <h3 class="ui olive header">Dein Impftermin</h3>
      Datum:  {{user.impfung.datum}}<br>
      Beginn: {{user.impfung.uhrzeit_start}} Uhr<br>
      Ende: {{user.impfung.uhrzeit_end}} Uhr<br>
        Ort: {{ user.impfung.impfort}} <br>
      <br>
        
        <br>
    </div>
  </span>
</div>
