<h1 *ngIf="authService.getUserId()" class="ui header">Personenstatus</h1>

<div class="ui segment" *ngIf="authService.getUserId()">
  <div class="eight wide column">
    <h2 class="ui medium header">{{ user.vorname }} {{ user.nachname }}</h2>
    <div class="ui divider"></div>

    <div class="ui grid">
      <div class="four wide column">
        <h4 class="ui header">Dein Impfstatus: </h4>
      </div>

      <div class="six wide column">
        <div *ngIf="user.status === 'no'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><span class="ui orange small header">Nicht geimpft! </span></ng-template>
        <ng-template #elseBlock><span class="ui olive small header">Bereits geimpft!</span> </ng-template>
      </div>
      <div class="six wide column">
        <div *ngIf="user.impfung_id; then thenBlockAngemeldet else elseBlockOffen"></div>
        <ng-template #thenBlockAngemeldet> <span class="ui olive small header">Angemeldet</span>
        </ng-template>
        <ng-template #elseBlockOffen>
          <a class="ui teal button" routerLink='../../impfungen'>
          Anmelden</a> 
        </ng-template>
      </div>

      </div>
    </div>
    
    <h4 class="ui header">Deine Daten:</h4>
    <div class="ui grid">
      <div class="four wide column">
        SVNR:  <br>
        Email: <br>
        Telefon:  <br><br>
      </div>
      <div class="ten wide column">
        {{user.svnr}}<br>
        {{ user.email}} <br>
        {{user.telefon}}
      </div>
    </div>
      
    <div class="ui divider"></div>

    <span *ngIf= "user.impfung">
      <h3 class="ui olive header">Dein Impftermin</h3>
      <div class="ui grid">
        <div class="four wide column">
          Datum:  <br>
          Beginn: <br>
          Ende: <br>
          Ort: <br>
        </div>
        <div class="ten wide column">
          {{user.impfung.datum}}<br>
          {{user.impfung.uhrzeit_start}} Uhr <br>
          {{user.impfung.uhrzeit_end}} Uhr <br>
          {{getImpfort(user.impfung.impfort_id).ort}}  <br><br>
        </div>
    </div>
      <br>
  </span>
</div>
