<h1>Personenstatus</h1>


<div class="ui segment teal" *ngIf="user">
  <div class="eight wide column">
    <h1 class="ui header">{{ user.vorname }} {{ user.nachname }}</h1>
    <div class="ui divider"></div>

    <div class="ui grid">
      <div class="four wide column">
        <h4 class="ui header">Dein persönlicher Impfstatus: </h4>
      

      </div>
      <div class="six wide column">
        <div *ngIf="user.status === 'no'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><span class="ui orange small header">Nicht geimpft! </span></ng-template>
        <ng-template #elseBlock><span class="ui olive small header">Bereits geimpft!</span> </ng-template>
      </div>
      <div class="two wide column">
        <div *ngIf="user.impfung_id === null; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><span class="ui orange small header">Nicht geimpft! </span></ng-template>
        <ng-template #elseBlock><span class="ui olive small header">Bereits geimpft!</span> </ng-template>
      </div>
         <a class="ui yellow labeled icon button" ><!--[routerLink]="['./user', impfung?.id]"-->
    <i class="write icon"></i> Anmelden!
  </a>
      </div>

    </div>
    <div class="ui divider"></div>
    <h4 class="ui header">Deine Daten:</h4>
        SVNR: {{user.svnr}} <br>
        Email: {{ user.email}} <br>
        Telefon: {{user.telefon}}
  </div>
  <span *ngIf= "user.impfung_id">
    <div class="sixteen wide column">
      <h3 class="ui header">Location</h3>
      Du bist angemeldet zur Impfung: <br>
    </div>
  </span>
