<div class="ui grid" *ngIf="impfung">

  <div class="sixteen wide column">
      <h1 class="ui header">{{impfung.impfort.ort}}</h1>
        <div class="ui grid">
          <div class="eight wide column">
        <h3 class="ui header">Datum: {{impfung.datum}}</h3>
        <h4 class="ui header">Uhrzeit</h4>
        {{ impfung.uhrzeit_start}} bis {{impfung.uhrzeit_end}}
      </div>
      <div class="eight wide column">
          <button  class="ui teal right floated button"> 
          Anmelden
          </button>
      </div>
    </div>

    <div class="ui divider">
    </div>
    <div class="ui grid">
      <div class="six wide column">
        <h5 class="ui header">
          <i class="users icon"></i>
          <div class="content"> Angemeldete Personen 

          </div>
        </h5>

      </div>
      <div class="ten wide column">
        <span *ngFor="let user of impfung.users; last as l">
              {{ user.vorname }} {{ user.nachname }} 
              <div class="four wide column">
                  TODO- METHODE zum Speichern des Status!! 
                  Geimpft:
                <div class="ui toggle checkbox">
                  <input type="checkbox" id="status" >
                  <label for="status"></label>
                  </div>
                </div> <br>
              
              <span *ngIf="!l">,</span>
        </span>
      </div>


      </div>
    </div>
  </div>

  <div class="sixteen wide column">
    <h3 class="ui header">Location</h3>
    <p>{{impfung.impfort.plz}} {{impfung.impfort.ort}}<br>
    {{impfung.impfort.strasse}} <br> <b>{{impfung.impfort.bezeichnung}}</b>
    </p>
    <br>
  </div>



  <button [routerLink]="'/impfungen'" (click)="showImpfungList()" class="ui teal button">Zurück zur Übersicht</button>


  <a class="ui yellow labeled icon button" [routerLink]="['../../admin', impfung?.id]">
    <i class="write icon"></i> Impfung bearbeiten
  </a>

  <button (click)="removeImpfung()" class="ui red labeled icon button"> 
    <i class="remove icon"></i>
    Impfung löschen
    </button>

