<div class="ui container">
<h1>Willkommen im Impfsystem von KWM</h1>
<p>Einfach registrieren und zur Impfung anmelden!</p>
  <div class="ui placeholder segment">
  <div class="ui two column stackable center aligned grid">
    <div class="ui vertical divider">Or</div>
    <div class="middle aligned row">
      <div class="column">
        <div class="ui icon header">
          <i class="heart outline icon"></i>
          Unsere Impfangebote
        </div>
        <p>Registrier dich, log dich ein und melde dich gleich bequem zur nächsten Impfung an.</p>
        <a routerLink='../impfungen/' class='ui teal button'>Zur Impfliste</a>
      </div>

      <div class="column">
           <im-login></im-login>
      </div>
    </div>
  </div>
</div>

<!--IMPFUNG_ID aus authservice-->
<div *ngIf="authService.isLoggedIn()">
  <im-user-detail></im-user-detail>
</div>

</div>
