<h1>Impfformular</h1>

<form class="ui large form" [formGroup]="impfForm" (ngSubmit)="submitForm()">

  <input type="hidden" name="id">

  <div class="field">
    <label>Datum</label>
    <input type="date" formControlName="datum">
  </div>

  <div class="field">
    <label>Startuhrzeit</label>
    <input type="time" formControlName="uhrzeit_start">
    <div *ngIf="errors.start" class="ui negative message">{{ errors.start }}
    </div>
  </div>

  <div class="field">
    <label>Enduhrzeit</label>
    <input type="time" formControlName="uhrzeit_end">
    <div *ngIf="errors.end" class="ui negative message">{{
      errors.end }}</div>
  </div>

  <div class="field">
    <label>Impforte</label>
    <div formArrayName="impforte">
      <div class="ui selection dropdown">
        <input type="hidden" name="control">
        <i class="dropdown icon"></i>
        <div class="default text">Hier auswählen</div>
      <div class="fields" *ngFor="let control of impforte?.controls; index as i; last as l" [formGroupName]="i">
        <input type="hidden" name="id">
          <div class="menu">
            <option class="item" data-value="i+1">{{control.ort}}</option>
          </div>
        </div>
      </div>
    </div>
  </div>



    <div class="field">
      <label>Maximale Personenanzahl</label>
      <input type="number" formControlName="max_personen">
      <div *ngIf="errors.number" class="ui negative message">{{errors.number}}</div>
    </div>

    <button type="submit" class="ui button"
  [disabled]="impfForm.invalid">Speichern</button>

</form>