<h1>Impfformular</h1>

<form class="ui large form" [formGroup]="impfForm" (ngSubmit)="submitForm()">

  <input type="hidden" name="id">

  <div class="field">
    <label>Datum</label>
    <input type="date" formControlName="datum">
  </div>

  <div class="field">
    <label>Startuhrzeit</label>
    <input type="time" formControlName="uhrzeit_start">
    <div *ngIf="errors.start" class="ui negative message">{{ errors.start }}
    </div>
  </div>

  <div class="field">
    <label>Enduhrzeit</label>
    <input type="time" formControlName="uhrzeit_end">
    <div *ngIf="errors.end" class="ui negative message">{{
      errors.end }}</div>
  </div>
<div class="ui divider"></div>

<!--UMBAUEN auf einzelne Eingabefelder-->
  <div class="field">
    <h3 class="ui header">
    <label class="ui header">Impfort:</label>
    </h3>
    <div formArrayName="impforte">
      <div class="ui grid">
        <div class="six wide column">
          <div class="field">
            <label>PLZ</label>
            <input type="number" formControlName="plz">
            <div *ngIf="errors.plz" class="ui negative message">{{
              errors.plz }}
            </div>
          </div>
        </div>
        <div class="ten wide column">
          <div class="field">
            <label>Ort</label>
            <input formControlName="ort">
            <div *ngIf="errors.ort" class="ui negative message">{{
              errors.ort }}
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Straße und Nummer</label>
        <input formControlName="strasse">
        <div *ngIf="errors.strasse" class="ui negative message">{{
          errors.strasse }}
        </div>
      </div>
            <div class="field">
        <label>Bezeichnung</label>
        <input formControlName="bezeichnung">
        <div *ngIf="errors.bezeichnung" class="ui negative message">{{
          errors.bezeichnung }}
        </div>
      </div>
      
    </div>
  </div>

<div class="ui divider"></div>

    <div class="field">
      <label>Maximale Personenanzahl</label>
      <input type="number" formControlName="max_personen">
      <div *ngIf="errors.number" class="ui negative message">{{errors.number}}</div>
    </div>
    <div class="fields" *ngIf="impfung.users.length > 0">Es gibt bereits {{impfung.users.length}} angemeldete Personen!

    </div>

    <button type="submit" class="ui button"
  [disabled]="impfForm.invalid">Speichern</button>

</form>